<!-- intro -->

<button mat-raised-button>Hello world </button>

<!-- typography -->

<div class="mat-display-1">This is display 1</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-4">This is display 4</div>

<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">

  <h1>This is heading for h1</h1>
  <h2>This is heading for h2</h2>
  <h3>This is heading for h3</h3>
  <h4>This is heading for h4</h4>
  
</div>

<!-- buttons -->

<div>
  
  <button mat-button>Click!</button>
  <button mat-raised-button>Click!</button>
  <button mat-flat-button>Click!</button>
  <button mat-stroked-button>Click!</button>

</div>

<div>
  
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>MiniFab</button>
  
</div>

<div>
  
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
  
</div>

<div>
  <mat-button-toggle #toggleBtn checked disableRipple disabled>Toggle</mat-button-toggle>{{toggleBtn.checked}}
</div>

<div>

  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  
  </mat-button-toggle-group>
  {{toggleGroup.value}}

</div>

<div>

  <mat-button-toggle-group #toggleGroup1="matButtonToggleGroup" multiple>
    
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  
  </mat-button-toggle-group>
  {{toggleGroup1.value}}

</div>

<!-- icons -> 
  https://material.io/resources/icons/?style=baseline
-->

<div>
  <mat-icon id="playCircle" color="primary">play_circle_filled</mat-icon>
</div>

<!-- badges -->

<div>
  <span matBadge="5">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="large">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>

<div>
  <!-- ng material docs recommends overlap to be false on text and true on icons -->
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

<div>
  <!-- badg 1way bound to notifications variable in ts file -->
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

<!-- mat-progress-spinner -->

<div>
  <!-- can be bound to value programmaticly -->
  <mat-progress-spinner value="40"></mat-progress-spinner>
</div>

<!-- indeterminate spinner
<div>
  <mat-spinner></mat-spinner>
</div> -->

<div>

  <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
  <button (click)="loadData()">Load Data</button>

</div>

<div>

  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

</div>

<div>

  <mat-progress-bar *ngIf="showProgress" mode="indeterminate" color="warn"></mat-progress-bar>
  <button (click)="loadProgress()">Load Progress</button>

</div>

<div>
  <mat-toolbar class="navbar" color="primary">
    <div>Codevolution</div>
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Servieces</span>
    </div>
  </mat-toolbar>
</div>

<!-- side nav -->
  
  <div>
    <mat-sidenav-container>
      <mat-sidenav [(opened)]="opened">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Opened</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="over" [(opened)]="opened">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Opened</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="push" [(opened)]="opened">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Opened</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Opened</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav #sideNav mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Opened</button>  
        <button (click)="sideNav.open()">Open</button>  
        <button (click)="sideNav.close()">Close</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav #sideNavThatToggles mode="side" [(opened)]="opened4SNTT">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="sideNavThatToggles.toggle()">Toggle</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  <!-- (opened) and (closed) event listeners -->
  <div>
    <mat-sidenav-container>
      <mat-sidenav #sideNavThatToggles (opened)="log('OpenNowString')" (closed)="log('ClosedNowString')" mode="side" [(opened)]="opened4SNTT">Sidenav</mat-sidenav>
      <mat-sidenav-content>Main
        <button (click)="sideNavThatToggles.toggle()">Toggle</button>  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

<!-- side nav -->

<!-- menu with choices already rendered -->
  <div>
    <!-- menu has to be triggered by a html element or programmaticly (*ngIf[condition])-->
    <!-- creating a template refernce variable [#appMenu] and assigning the mat menu directive to it -->
    <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
      <!-- this button triggers a nested menu that has this refernce variable assigned to it [#subMenu]  -->
      <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
      <button mat-menu-item>BackEnd</button>
    </mat-menu>
    <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
  </div>

  <div>
    <!-- #subMenu for front end choice -->
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>React</button>
      <button mat-menu-item>Vue</button>
    </mat-menu>
  </div>
<!-- menu with choices already rendered -->

<!-- dynamic menu -->
  <div>

    <mat-menu #lazyMenu="matMenu">
      <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Hobby is {{hobby}}</button>
        <button mat-menu-item>Log out {{name}}</button>
      </ng-template>
    </mat-menu>

    <button mat-raised-button [matMenuTriggerData]= "{name: 'Vishwas', hobby: 'football'}" [matMenuTriggerFor]  ="lazyMenu">
      Vishwas
    </button>

    <button mat-raised-button [matMenuTriggerData]= "{name: 'Codevolution', hobby: 'teaching'}"   [matMenuTriggerFor]="lazyMenu">
      Codevolution
    </button>

  </div>
<!-- dynamic menu -->

<!-- list -->
  <div>
    <mat-list>
      <mat-list-item>Item1</mat-list-item>
      <mat-list-item>Item2</mat-list-item>
      <mat-list-item>Item3</mat-list-item>
    </mat-list>
  </div>

  <div>
    <!-- dense attribute reduces font size for mli with alot of text -->
    <mat-list dense>
      <mat-list-item>Item1</mat-list-item>
      <mat-list-item>Item2</mat-list-item>
      <mat-list-item>Item3</mat-list-item>
    </mat-list>
  </div>

  <div>

    <!-- may become useful when creating sideNavs -->
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">Services</a>
    </mat-nav-list>

  </div>

  <div>

    <!-- *ngFor can be used on mat list -->
    <mat-list>

      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading2</h3>
        <p matLine>Line2</p>
      </mat-list-item>
    
    </mat-list>

  </div>
<!-- list -->

<!-- grid list (similar to tables) -->
  <div>

    <!-- cols attribute specifies number of columns  -->
    <mat-grid-list cols="2">
      <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
      <mat-grid-tile rowspan="2">Tile 2</mat-grid-tile>
      <mat-grid-tile>Tile 3</mat-grid-tile>
      <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>

  </div>

  <div>

    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
      <mat-grid-tile rowspan="2">Tile 2</mat-grid-tile>
      <mat-grid-tile>Tile 3</mat-grid-tile>
      <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>

  </div>

  <div>

    <!-- rowHeight is half of colWidth -->
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
      <mat-grid-tile rowspan="2">Tile 2</mat-grid-tile>
      <mat-grid-tile>Tile 3</mat-grid-tile>
      <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>

  </div>

  <div>

    <mat-grid-list cols="2" rowHeight="fit" style="height: 300px;">
      <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
      <mat-grid-tile rowspan="2">Tile 2</mat-grid-tile>
      <mat-grid-tile>Tile 3</mat-grid-tile>
      <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>

  </div>

  <div>

    <mat-grid-list cols="2" rowHeight="fit" style="height: 330px;" gutterSize="10px">
      <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
      <mat-grid-tile rowspan="2">Tile 2</mat-grid-tile>
      <mat-grid-tile>Tile 3</mat-grid-tile>
      <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>

  </div>
<!-- grid list (similar to tables) -->

<!-- expansion panel -->
  
  <!-- two independent expansion panels -->
  <div>

    <mat-expansion-panel>
      
      <mat-expansion-panel-header>
        
        <mat-panel-title>
          Angular Fundamentals
        </mat-panel-title>
        <mat-panel-description>
          Total Duration : 3 hours
        </mat-panel-description>
      
      </mat-expansion-panel-header>
    
      <p>This is the panel conten. Add course details.</p>
      
      <mat-action-row>
        <button mat-button>Enroll</button>
      </mat-action-row>
    
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      
      <mat-expansion-panel-header>
        
        <mat-panel-title>
          Angular Material
        </mat-panel-title>
        <mat-panel-description>
          Total Duration : 2 hours
        </mat-panel-description>
      
      </mat-expansion-panel-header>
    
      <p>This is the panel conten. Add course details.</p>
      
      <mat-action-row>
        <button mat-button>Enroll</button>
      </mat-action-row>
    
    </mat-expansion-panel>
  </div>
  <!-- two independent expansion panels -->

  <!-- accordin -->
  <div>

    <mat-accordion multi="false">
    
      <mat-expansion-panel>
        
        <mat-expansion-panel-header>
          
          <mat-panel-title>
            Angular Fundamentals
          </mat-panel-title>
          <mat-panel-description>
            Total Duration : 3 hours
          </mat-panel-description>
        
        </mat-expansion-panel-header>
      
        <p>This is the panel conten. Add course details.</p>
        
        <mat-action-row>
          <button mat-button>Enroll</button>
        </mat-action-row>
      
      </mat-expansion-panel>
      <mat-expansion-panel>
        
        <mat-expansion-panel-header>
          
          <mat-panel-title>
            Angular Material
          </mat-panel-title>
          <mat-panel-description>
            Total Duration : 2 hours
          </mat-panel-description>
        
        </mat-expansion-panel-header>
      
        <p>This is the panel conten. Add course details.</p>
        
        <mat-action-row>
          <button mat-button>Enroll</button>
        </mat-action-row>
      
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- accordin -->

<!-- expansion panel -->

<!-- cards -->
  <div>
    <mat-card>
      Basic card
    </mat-card>
  </div>
  
  <div>

    <mat-card>
      
      <mat-card-title>
        Card title
      </mat-card-title>
    
      <mat-card-content>
        This is the card content
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-flat-button>Login</button>
      </mat-card-actions>
    
    </mat-card>
  
  </div>
<!-- cards -->

<!-- tabs -->
  <div>
    <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
      <mat-tab label="Angular">Angular content</mat-tab>
      <mat-tab label="React">React content</mat-tab>
      <mat-tab label="Vue">Vue content</mat-tab>
    </mat-tab-group>
    {{tabRef.selectedIndex}}
  </div>
<!-- tabs -->

<!-- steppers -->
  <div>
    
    <!-- linear is the 1 of 2 attributes needed to prevent user from skipping steps in the stepper -->
    <mat-horizontal-stepper linear>
      
      <!-- completed is the second attribute needed to prevent user from skipping steps in the stepper -->
      <mat-step label="Shipping Address" completed="true">
        <p>Shipping Address details</p>
      </mat-step>
      
      <!-- optional attribute makes allows a step to be skipped in a linear stepper -->
      <mat-step label="Alternate Shipping Address" completed="false" optional>
        
        <p>Billing Address details</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      
      </mat-step>
      
      <mat-step label="Billing Address" completed="false">
        
        <p>Billing Address details</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      
      </mat-step>
      
      <mat-step label="Place Order" completed="false">
        <p>Order details</p>
      </mat-step>
    
    </mat-horizontal-stepper>
  
  </div>
  
  <div>
    
    <!-- linear is the 1 of 2 attributes needed to prevent user from skipping steps in the stepper -->
    <mat-vertical-stepper linear>
      
      <!-- completed is the second attribute needed to prevent user from skipping steps in the stepper -->
      <mat-step label="Shipping Address" completed="true">
        <p>Shipping Address details</p>
      </mat-step>
      
      <!-- optional attribute makes allows a step to be skipped in a linear stepper -->
      <mat-step label="Alternate Shipping Address" completed="false" optional>
        
        <p>Billing Address details</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      
      </mat-step>
      
      <mat-step label="Billing Address" completed="false">
        
        <p>Billing Address details</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      
      </mat-step>
      
      <mat-step label="Place Order" completed="false">
        <p>Order details</p>
      </mat-step>
    
    </mat-vertical-stepper>
  
  </div>
<!-- steppers -->

<!-- input -->
  <div>
    
    <mat-form-field>
      
      <mat-label>Name</mat-label>
      <input matInput>
    
    </mat-form-field>
  
  </div>
  
  <div>
    
    <mat-form-field floatLabel="never">
      
      <mat-label>Name</mat-label>
      <input matInput>
    
    </mat-form-field>
  
  </div>
  
  <div>
    
    <mat-form-field floatLabel="always">
      
      <mat-label>Name</mat-label>
      <input matInput>
    
    </mat-form-field>
  
  </div>
  
  <div>

    <!-- same as default -->
    <mat-form-field floatLabel="auto">
      
      <mat-label>Name</mat-label>
      <input matInput required>
    
    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field floatLabel="auto">
      
      <mat-label>Name</mat-label>
      <input matInput hideRequiredMarker>
      <mat-hint>min 5 characters</mat-hint>
    
    </mat-form-field>
  
  </div>

  <div>

    <mat-form-field>
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <!-- same as default -->
    <mat-form-field appearance="legacy">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <!-- update on spacing -->
    <mat-form-field appearance="standard">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field appearance="fill">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field appearance="outline">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field appearance="fill" color="warn">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field appearance="outline" color="warn">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field appearance="fill" color="accent">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
  
  <div>

    <mat-form-field appearance="outline" color="accent">
      
      <mat-label>Name</mat-label>
        <input matInput required>
      <mat-hint align="end">Min 5 characters</mat-hint>

    </mat-form-field>
  
  </div>
<!-- input -->

<!-- select -->
  <div>
  
    <mat-form-field>
      
      <mat-label>Topic</mat-label>
      <mat-select [(value)]="selectedValue">
        
        <mat-option>None</mat-option>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
      
      </mat-select>
    
    </mat-form-field>
    {{selectedValue}}
    
    <mat-form-field>
      
      <mat-label>Topic</mat-label>
      <mat-select [(value)]="selectedValue1">
        
        <mat-option>None</mat-option>
        <mat-optgroup label="Web">

          <mat-option value="angular">Angular</mat-option>
          <mat-option value="react">React</mat-option>
          <mat-option value="vue">Vue</mat-option>
        
        </mat-optgroup>
        <mat-optgroup label="Mobile">

          <mat-option value="ionic">Ionic</mat-option>
          <mat-option value="reactNative">React Native</mat-option>
        
        </mat-optgroup>
      
      </mat-select>
    
    </mat-form-field>
    {{selectedValue1}}
    
    <mat-form-field>
      
      <mat-label>Topic</mat-label>
      <mat-select [(value)]="selectedValue2" multiple>
        
        <mat-optgroup label="Web">

          <mat-option value="angular">Angular</mat-option>
          <mat-option value="react">React</mat-option>
          <mat-option value="vue">Vue</mat-option>
        
        </mat-optgroup>
        <mat-optgroup label="Mobile">

          <mat-option value="ionic">Ionic</mat-option>
          <mat-option value="reactNative">React Native</mat-option>
        
        </mat-optgroup>
      
      </mat-select>
    
    </mat-form-field>
    {{selectedValue2}}
  
  </div>
<!-- select -->

<!-- autocomplete -->
  <div>

    <form>
      
      <mat-form-field>

        <!-- input tag's property [matAutocomplete] is bound to mat-autocomplete tags refernce variable #auto -->
        <input type="text" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">

          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>

        </mat-autocomplete>

      </mat-form-field>
    
    </form>

  </div>
  
  <div>

    <form>
      
      <mat-form-field>

        <!-- input tag's property [matAutocomplete] is bound to mat-autocomplete tag's refernce variable #autoForObject -->
        <input type="text" matInput [matAutocomplete]="autoForObject">
        <!-- adding [displayWith] directive to call displayFn function -->
        <mat-autocomplete #autoForObject="matAutocomplete" [displayWith]="displayFn">

          <mat-option *ngFor="let objectOption of objectOptions" [value]="objectOption">
            <!-- display function in app.componenet.ts let's browser know which objectOption property to display -->
            {{objectOption.name}}
          </mat-option>

        </mat-autocomplete>

      </mat-form-field>
    
    </form>

  </div>
  
  <!-- need to study reactiv forms more autocomplete works for fOption but fOption is not displayed when selected -->
  <div>

    <form>
      
      <mat-form-field>
        
        <!-- input tag's property [matAutocomplete] is bound to mat-autocomplete tag's refernce variable #autoForObject -->
        <input type="text" matInput [matAutocomplete]="fOption" [formControl]="myControl">
        <!-- adding [displayWith] directive to call displayFn function -->
        <mat-autocomplete #fOption="matAutocomplete" [displayWith]="displayFn">
          
          <mat-option *ngFor="let fOption of filteredOptions | async" [value]="fOption">
            <!-- display function in app.componenet.ts let's browser know which objectOption property to display -->
            {{fOption}}
          </mat-option>
          
        </mat-autocomplete>
        
      </mat-form-field>
      
    </form>
    <!-- need to study reactiv forms more autocomplete works for fOption but fOption is not displayed when selected -->
    
  </div>
<!-- autocomplete -->

<!-- checkbox and Radio buttons -->
    <div>
      
      <mat-checkbox>
        Subscribe
      </mat-checkbox>
      <br>
      <mat-checkbox labelPosition="before">
        Subscribe
      </mat-checkbox>
      <br>
      <mat-checkbox labelPosition="before" color="primary">
        Subscribe
      </mat-checkbox>
      <br>
      <mat-checkbox labelPosition="before" color="warn">
        Subscribe
      </mat-checkbox>

    </div>

    <div>
      
      <mat-radio-group>

        <!-- 2way binding to acces value in radio button (check out forms tutorial) -->
        <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
        <mat-radio-button value="React" color="warn">React</mat-radio-button>
        <mat-radio-button value="Vue">Vue</mat-radio-button>
        
      </mat-radio-group>
    
    </div>
  <!-- checkbox and Radio buttons -->

<!-- date picker -->
  <div>
    
    <mat-form-field>
      <input matInput [matDatepicker]="myDatePicker">
      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    
    </mat-form-field>
  </div>
  
  <div>
    
    <mat-form-field>
      <input matInput [matDatepicker]="myDatePicker1">
      <mat-datepicker-toggle [for]="myDatePicker1" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker1 startView="year"></mat-datepicker>
    
    </mat-form-field>
  </div>
  
  <div>
    
    <mat-form-field>
      <input matInput [matDatepicker]="myDatePicker2">
      <mat-datepicker-toggle [for]="myDatePicker2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker2 startView="multi-year"></mat-datepicker>
    
    </mat-form-field>
  </div>
  
  <div>
    
    <mat-form-field>
      <input matInput [matDatepicker]="myDatePicker3" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle [for]="myDatePicker3" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker3 ></mat-datepicker>
    
    </mat-form-field>
  </div>
  
  <div>
    
    <mat-form-field>
      <input matInput [matDatepicker]="myDatePicker4" [matDatepickerFilter]="dateFilter">
      <mat-datepicker-toggle [for]="myDatePicker4" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker4 ></mat-datepicker>
    
    </mat-form-field>
  </div>
<!-- date picker -->

<!-- tool tip -->
  <div>
    <button 
      mat-raise-button 
      matTooltip="Welcome to MyApp">
      Hello
    </button>    
  </div>
  
  <div>
    <button 
    mat-raise-button 
    matTooltip="Welcome to MyApp"
    matTooltipPosition="after">
    Hello
    </button>    
  </div>
  
  <div>
    <button 
    mat-raise-button 
    matTooltip="Welcome to MyApp"
    matTooltipPosition="after"
    matTooltipShowDelay="2000"
    matTooltipHideDelay="2000">
    Hello
    </button>    
  </div>
<!-- tool tip -->

<!-- snackbar -->
  <div>
    <button mat-button (click)="openSnackBar('Item deleted', 'Dismiss')">
      Show snack-bar
    </button>
  </div>
  
  <div>
    <button mat-button (click)="openSnackBar('Item deleted', 'Undo')">
      Delete
    </button>
  </div>
  
  <div>
    <button mat-button (click)="openCustomSnackBar()">
      Show custom snackbar
    </button>
  </div>
<!-- snackbar -->

<!-- dialog -->
  <div>
    <button mat-raised-button (click)="openDialog()">Open Dialog</button>
  </div>
<!-- dialog -->

<!-- data table -->
  <div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>
  
  
  <!-- filter table -->
    <div>

      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>

      <mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element1"> {{element1.position}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element1"> {{element1.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element1"> {{element1.weight}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element1"> {{element1.symbol}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row (click)="logData(row1)" *matRowDef="let row1; columns: displayedColumns1;"></mat-row>
      </mat-table>
    
    </div>
  <!-- filter table -->
  
  <!-- sort table -->
    <div matSort class="mat-elevation-z8">

      <mat-form-field>
        <input (keyup)="applyFilter1($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>

      <mat-table [dataSource]="dataSource2">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell mat-sort-header *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element2"> {{element2.position}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element2"> {{element2.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element2"> {{element2.weight}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element2"> {{element2.symbol}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row (click)="logData(row2)" *matRowDef="let row2; columns: displayedColumns2;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
  <!-- sort table -->
<!-- data table -->

<!-- virtual scrolling -->
  <div>

    <cdk-virtual-scroll-viewport itemSize="100" class="container">
      <div *cdkVirtualFor="let number of numbers" class="number">
        {{number}}  
      </div>  
    </cdk-virtual-scroll-viewport>

  </div>
<!-- virtual scrolling -->